doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gallery
        link(rel="stylesheet", href="styles.scss")
    body
        .wrapper 
            - var n = 0
            .gallery
                ul.gallery__list
                    while n < 20
                        - n++
                        li.gallery__item
                            a(class="gallery__link" target="_blank")
                                img(class="gallery__image", src="image.webp", alt="Картинка")
                                img(class="gallery__spacer", src="29x35.gif", alt="Картинка")
                                .gallery__content
                                    .gallery__name Ecomaster
                                    .gallery__model WL 2 Firewall
                                    .gallery__type Напольные пурифайеры

        script(src="index.js")
        